body {
    background-color: antiquewhite;
  }

.cell {
    height: 90px;
    width: 90px;
    background-color: #d9d8d8;
    border: 1px solid #5e5e5e;
    float: left;
}

.cell:hover {
    border-color: #1587ec;
}

.container {
    margin: 50px auto;
    width: 300px;
}